@media (prefers-color-scheme: light)
{
	:root
	{
		--background-body: #FFE;
		--background-nav: #EEE;
		--background-nav-heading: #888;
		--background-table: #FFF8CC;
		--background-table-heading: #FFD5D9;
		--background-pre: #DDC;
		--background-definition: #EEE;
		--background-notice: #DEF;
		--background-warning: #FFF5B0;
		--color-nav-heading: #FFF;
		--color-list-number: #AAA;
		--color-text: #000;
		--color-interval: #AAA;
		--color-link: #AAA560;
		--color-link-visited: #6060AA;
		--color-math-error: #F66;
		--border-table: #EE858C;
		--border-key: #AAA;
		--border-definition: #AAA;
		--border-figure: #888;
		--border-input: #666;
		--emphasis-pre: #EE858C;
	}
}

@media (prefers-color-scheme: dark)
{
	:root
	{
		--background-body: #110;
		--background-nav: #222;
		--background-nav-heading: #666;
		--background-table: #2A2942;
		--background-table-heading: #4F2529;
		--background-pre: #221;
		--background-definition: #333;
		--background-notice: #123;
		--background-warning: #444500;
		--color-nav-heading: #FFF;
		--color-list-number: #AAA;
		--color-text: #FFF;
		--color-interval: #AAA;
		--color-link: #CCC580;
		--color-link-visited: #9090DD;
		--color-math-error: #F66;
		--border-table: #EE858C;
		--border-key: #AAA;
		--border-definition: #999;
		--border-figure: #888;
		--border-input: #666;
		--emphasis-pre: #EE858C;
	}
}

body
{
	background-color: var(--background-body);
	color: var(--color-text);
}

span.color
{
	height: 0.8em;
	width: 0.8em;
	border: 1px solid var(--color-text);
	display: inline-block;
	vertical-align: middle;
}

table
{
	width: 100%;
	border-collapse: collapse;
}

table col.title
{
	width: 25%;
}

table td, table th
{
	padding: 3px 8px 3px 8px;
	border: 1.2px solid var(--border-table);
}

table th
{
	font-weight: normal;
	background-color: var(--background-table-heading);
}

table td
{
	background-color: var(--background-table);
}

details
{
	display: inline-block;
}

pre
{
	border-left: 3px solid var(--emphasis-pre);
	padding: 5px;
	background-color: var(--background-pre);
	font-family: "Cascadia Code", "Consolas", "Courier New", monospace;
	font-size: small;
	tab-size: 4;
	overflow-x: auto;
	display: grid;
	grid-template-columns: auto 1fr;
}

pre::-webkit-scrollbar
{
	display: none;
}

pre>span.line-number
{
	padding-right: 5px;
	text-align: right;
	color: var(--color-list-number);
	font-size: x-small;
	user-select: none;
}

code
{
	font-family: "Cascadia Mono", "Consolas", "Courier New", monospace;
}

kbd
{
	border: 2px solid var(--border-key);
	border-radius: 4px;
	padding: 1px 4px;
	margin: 0px 2px;
}

math:not([inline])
{
	display: block math;
	math-style: normal;
}

merror
{
	border: none;
	background: unset;
	color: var(--color-math-error);
}

p.definition, p.notice, p.warning
{
	padding: 8px;
}

p.definition
{
	background-color: var(--background-definition);
}

p.notice
{
	background-color: var(--background-notice);
}

p.warning
{
	background-color: var(--background-warning);
}

p#return
{
	text-align: center;
}

a
{
	text-decoration: none;
}

a:link:not(ol.catalogue a)
{
	color: var(--color-link);
}

a:visited:not(ol.catalogue a)
{
	color: var(--color-link-visited);
}

main>hr
{
	margin: 2em 5px 2em 5px;
	border: 1px solid var(--color-interval);
}

@font-face
{
	font-family: "Consolas";
	src: url("../fonts/consolas.ttf");
}