@media (prefers-color-scheme: light)
{
	:root
	{
		--background-body: #FFE;
		--background-nav: #EEE;
		--background-nav-heading: #888;
		--background-table: #FFF8CC;
		--background-table-heading: #FFD5D9;
		--background-pre: #DDC;
		--background-definition: #EEE;
		--background-notice: #DEF;
		--background-warning: #FFF5B0;
		--color-nav-heading: #FFF;
		--color-list-number: #AAA;
		--color-text: #000;
		--color-interval: #AAA;
		--color-link: #AAA560;
		--color-link-visited: #6060AA;
		--border-table: #EE858C;
		--border-key: #AAA;
		--border-definition: #AAA;
		--border-figure: #888;
		--emphasis-pre: #EE858C;
	}
}

@media (prefers-color-scheme: dark)
{
	:root
	{
		--background-body: #110;
		--background-nav: #222;
		--background-nav-heading: #666;
		--background-table: #2A2942;
		--background-table-heading: #4F2529;
		--background-pre: #221;
		--background-definition: #333;
		--background-notice: #123;
		--background-warning: #444500;
		--color-nav-heading: #FFF;
		--color-list-number: #AAA;
		--color-text: #FFF;
		--color-interval: #AAA;
		--color-link: #CCC580;
		--color-link-visited: #9090DD;
		--border-table: #EE858C;
		--border-key: #AAA;
		--border-definition: #999;
		--border-figure: #888;
		--emphasis-pre: #EE858C;
	}
}

body
{
	background-color: var(--background-body);
	color: var(--color-text);
	margin: 0px 15px 20px 15px;
}

nav>p:not(#return)
{
	padding: 5px;
	background-color: var(--background-nav-heading);
	color: var(--color-nav-heading);
	font-weight: bold;
	text-align: center;
	margin: 0;
}

span.color
{
	height: 0.8em;
	width: 0.8em;
	border: 1px solid var(--color-text);
	display: inline-block;
	vertical-align: middle;
}

ol.catalogue, ol.catalogue ol
{
	list-style: none;
	counter-reset: catalogue;
}

ol.catalogue
{
	margin: 0;
	padding: 5px 10px 10px 10px;
	background-color: var(--background-nav);
}

ol.catalogue ol
{
	padding-left: 0px;
}

ol.catalogue>li::before, ol.catalogue ol>li::before
{
	counter-increment: catalogue;
	content: counters(catalogue, ".") ".";
	font-family: "Cascadia Mono", "Consolas", "Courier New", monospace;
	font-size: small;
	color: var(--color-list-number);
}

ol.catalogue a
{
	color: var(--color-text);
}

ol.tree, ol.tree ol
{
	list-style: none;
	counter-reset: tree;
}

ol.tree
{
	margin-top: 0px;
	padding: 5px 10px 5px 10px;
}

ol.tree ol
{
	padding-left: 0px;
}

ol.tree>li::before, ol.tree ol>li::before
{
	counter-increment: tree;
	content: counters(tree, ".") ".";
	font-family: "Cascadia Mono", "Consolas", "Courier New", monospace;
	font-size: small;
	color: var(--color-list-number);
}

table
{
	width: 100%;
	border-collapse: collapse;
}

table col.title
{
	width: 25%;
}

table td, table th
{
	padding: 3px 8px 3px 8px;
	border: 1.2px solid var(--border-table);
}

table th
{
	font-weight: normal;
	background-color: var(--background-table-heading);
}

table td
{
	background-color: var(--background-table);
}

details
{
	display: inline-block;
}

pre
{
	border-left: 3px solid var(--emphasis-pre);
	padding: 5px;
	background-color: var(--background-pre);
	font-family: "Cascadia Code", "Consolas", "Courier New", monospace;
	font-size: small;
	tab-size: 4;
	overflow-x: auto;
	display: grid;
	grid-template-columns: auto 1fr;
}

pre::-webkit-scrollbar
{
	display: none;
}

pre>span.line-number
{
	padding-right: 5px;
	text-align: right;
	color: var(--color-list-number);
	font-size: x-small;
	user-select: none;
}

code
{
	font-family: "Cascadia Mono", "Consolas", "Courier New", monospace;
}

kbd
{
	border: 2px solid var(--border-key);
	border-radius: 4px;
	padding: 1px 4px;
	margin: 0px 2px;
}

:root[data-browser=webkit] math:not([inline])
{
	display: block;
}

:root[data-browser=ms] math:not([inline])
{
	display: block math;
}

p.definition, p.notice, p.warning
{
	padding: 8px;
}

p.definition
{
	background-color: var(--background-definition);
}

p.notice
{
	background-color: var(--background-notice);
}

p.warning
{
	background-color: var(--background-warning);
}

p#return
{
	text-align: center;
}

dfn
{
	font-style: normal;
	border-bottom: 2px dotted var(--border-definition);
}

a
{
	text-decoration: none;
}

a:link:not(ol.catalogue a)
{
	color: var(--color-link);
}

a:visited:not(ol.catalogue a)
{
	color: var(--color-link-visited);
}

main>hr
{
	margin: 2em 5px 2em 5px;
	border: 1px solid var(--color-interval);
}

data-source
{
	display: none;
}

main figure
{
	float: right;
	display: grid;
	padding: 5px;
	margin: 5px;
	border: 1px solid var(--border-figure);
}

main figure svg
{
	margin: 5px auto 5px auto;
}

main figure figcaption
{
	margin-top: 5px;
	font-size: x-small;
	text-align: center;
}

@media (min-width: 500px) and (max-width: 1000px)
{
	nav>ol
	{
		columns: 15em 3;
	}
}

@media (min-width: 1000px)
{
	body
	{
		display: grid;
		grid-template-columns: 30% 70%;
		grid-template-areas: 
		"heading heading"
		"nav main";
	}

	h1 
	{
		grid-area: heading;
	}

	nav
	{
		overflow-y: auto;
		grid-area: nav;
		height: calc(100vh - 30px);
		position: sticky;
		top: 15px;
	}

	main
	{
		grid-area: main;
		margin: 0 0 0 15px;
	}
}

@font-face
{
	font-family: "Consolas";
	src: url("../fonts/consolas.ttf");
}