label[for]
{
	cursor: pointer;
}

input, select
{
	border: none;
	padding: 0 3px 0 3px;
	border-bottom: 1.5px solid var(--border-input);
	background-color: inherit;
	color: inherit;
	overflow: hidden;
}

dfn
{
	font-style: normal;
}

dfn:hover
{
	border-bottom: dotted 2px var(--border-definition);
}

button
{
	cursor: pointer;
	background-color: inherit;
	border: none;
	padding: 0px;
}

textarea
{
	background-color: inherit;
	border: none;
	font-family: inherit;
	resize: none;
	tab-size: 4;
	background-color: rgba(128, 128, 128, 0.1);
	color: unset;
	margin: 1px 0 1px 0;
}

dialog
{
	border-radius: 5px;
	color: unset;
	background-color: var(--background-body);
}

dialog::backdrop
{
	background-color: rgb(from var(--color-text) r g b / 0.1);
}

@font-face
{
	font-family: "Consolas";
	src: url("../fonts/consolas.ttf");
}

@font-face
{
	font-family: "Minecraft";
	src: url("../fonts/minecraft.ttf");
}
