.input::before, .output::before
{
	content: '';
	position: absolute;
	padding: 0.4em;
	top: -0.3em;
	width: 0;
	height: 0;
}

.input, .output
{
	margin-top: 1em;
	margin-bottom: 0;
	position: relative;
	border-radius: 10px;
	text-align: initial;
}

.input::before
{
	transform: rotate(-30deg);
	background-color: #AAAAFF;
	border: #8888FF solid 0.2em;
	left: -0.3em;
}

.input:not(:empty)
{
	background-color: #DDDDFF;
	padding: 15px 8px 8px 8px;
	margin-left: 1em;
}

.input:empty
{
	outline: 2px dashed #AAAAFF;
	outline-offset: -2px;
	padding: 15px 8px 8px 8px;
	margin-left: 1em;
	height: 1em;
}

.output::before
{
	transform: rotate(30deg);
	background-color: #FFAAAA;
	border: #FF8888 solid 0.2em;
	right: -0.3em;
}

.output:not(:empty)
{
	background-color: #FFCCCC;
	padding: 15px 8px 8px 8px;
	margin-right: 1em;
}

.output:empty
{
	outline: 2px dashed #FFAAAA;
	outline-offset: -2px;
	padding: 15px 8px 8px 8px;
	margin-right: 1em;
	height: 1em;
}

div.input p, div.output p
{
	margin: 0;
}

div.input p:not(:first-child), div.output p:not(:first-child)
{
	padding-top: 10px;
	border-top: 1px solid #AAAAAA;
}

div.input p:not(:last-child), div.output p:not(:last-child)
{
	padding-bottom: 10px;
	border-bottom: 1px solid #AAAAAA;
}

div.io
{
	margin-bottom: 8px;
}

span.type
{
	color: #AA77AA;
}

img.svg
{
	display: none;
	width: 100%;
}

span.keyword
{
	color: #8888DD;
}

@media (min-width: 700px)
{
	div.io
	{
		display: grid;
		grid-template-columns: 50% 50%;
		align-items: start;
		grid-template-areas: 
		"input output";
	}

	.input
	{
		grid-area: input;
		margin-right: 5px;
	}

	.output
	{
		grid-area: output;
		margin-left: 5px;
	}
}

@media(prefers-color-scheme: dark)
{
	.input:not(:empty)
	{
		background-color: #333355;
	}

	.output:not(:empty)
	{
		background-color: #553333;
		padding: 15px 8px 8px 8px;
		margin-right: 1em;
	}

	.input::before
	{
		background-color: #666688;
		border-color: #444466;
	}

	.input:empty
	{
		outline-color: #666688;
	}

	.output::before
	{
		background-color: #886666;
		border-color: #664444;
	}

	.output:empty
	{
		outline-color: #886666;
	}
}
